<div class="d-flex justify-content-center mt-5 mb-5" id="back">

<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-2 bg-white text-dark">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/admindash" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/userdetail" routerLinkActive="active">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/bikes" routerLinkActive="active">Bikes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/orderdetail" routerLinkActive="active">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" routerLink="/addride" routerLinkActive="active">Service</a>
          </li>
        </ul>
      </div>
    </div>
</div>