<section class="d-flex justify-content-center align-items-center mt-5" id="homes">
    <div class="text-center mt-5">
        <h1 class="display-4">Bike Ride to Exciting Destinations</h1>
        <p class="mt-5">Enjoy lush green views of picturesque landscapes with best-in-class bike ride packages from RenTrip Expedition Team. Our handpicked tour packages are a perfect recipe for your adventure cravings. </p>
        
        <p>Gone are the days, when one had to spend a lot on adventure bike trips. We offer cost-effective and cheapest bike rides while maintaining superb tour experiences.</p> </div>
    </section>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="thumbnail">
              <a href="/w3images/lights.jpg" target="_blank">
                <img src="assets/leh.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Motorbike Tour To Leh Ladakh</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="thumbnail">
              <a href="/w3images/nature.jpg" target="_blank">
                <img src="assets/manali.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <p>Manali Ladakh Tour Package.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="thumbnail">
              <a href="/w3images/fjords.jpg" target="_blank">
                <img src="assets/hillo.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <p>hilloferry - a guided cycling tour</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="thumbnail">
              <a href="/w3images/fjords.jpg" target="_blank">
                <img src="assets/9day.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <p>9-Day Himalaya Mountain Bike Tour from Shimla to Daramshala</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      