<!-- menu -->
<section class="d-flex justify-content-center align-items-center mt-5" id="homes">
  <div class="heroImage bg-dark text-light">
    <div class="container mt-5 mb-5">
      <div class="heroContent text-center mt-5 mb-5">
        <div class="heroSearch mt-5">
          <h1 class="display-1 mb-5"><b>Want to rent a bike?</b></h1>
        </div>
        <h2 class="display-3 mt-5 mb-5"><b>Rent a bike from anywhere!</b></h2>
        <p class="display-5"><b>Just simply add the pickup-place, arriving and leaving time and it's done.</b></p>
      </div>
    </div>
  </div>
</section>

<!-- why on wheelz section -->
<section class="ride bg-white mt-5 mb-5">
  <div class="heroContent text-center">
    <h1 class="display-3"> Why Use OnWheelz?</h1>
    <h5 class="mt-3 mb-5">We make renting easier, so you can focus on other things!</h5>
    <section class="py-5">
      <div class="container">
        <h2 class="text-center mb-5 display-3" style="text-decoration: underline;">We provide</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img src="assets/abc.jpg" class="card-img-top" alt="Service 1" style="height: 414px;">
              <div class="card-body">
                <h5 class="card-title">Safe Ride</h5>
                <p class="card-text">Your safety is our priority. From sanitizing all bikes before every
                  use, to extensive on-ground safety measures, your rides with ONN will always be safe
                  and reliable. We also offer helmets on-demand.

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img src="assets/def.jpg" class="card-img-top" alt="Service 2">
              <div class="card-body">
                <h5 class="card-title">Flexible Ownership</h5>
                <p class="card-text">Enjoy the freedom of owning a two-wheeler without the hefty down-payments, EMIs and
                  paperwork. Now choose from rent-to-own, monthly/quarterly bookings, and even daily plans..</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img src="assets/ghi.png" class="card-img-top" alt="Service 3"
                style="height: 375px; width: 400px; margin-top: 40px;">
              <div class="card-body">
                <h5 class="card-title">OnWheelz Stations</h5>
                <p class="card-text">Your local ONN Station is here to make ensure your two-wheeler
                  experience is flawless. At your neighborhood station, you get to pick any bike, get
                  maintenance, sanitized, and a lot more..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<hr id="aboutus">

<!-- about us -->
<section class="about mb-5">
  <div class="container text-center mt-5 mb-5">
    <h2 class="display-3 mb-4" style="text-decoration:underline;">About Us</h2>
    <p class="mb-5">We love bikes. We love travelling. And, we want you to love them too! What started as a bike
      rental platform
      a year ago is now a complete ecosystem of bikes. From two wheeler rentals to riding gears, from exclusive
      bike merchandise to road trips and tours, from bike refurbishing and maintenance to fleet management system
      - we have them all.</p>

    <p class="mb-5"> Our team of ninjas aim to bridge the gap between bike fanatics and their need for a perfect
      go-to for all
      their biking needs. Whether you're a student in a new city or someone who just joined work - you can rent a
      bike for a day, a week or even a couple of months, leave your bikes at the station for some good ol’
      maintenance and pick up some exclusive merch too! Whether you’re a startup with a small sales team or a food
      delivery giant, a logistics company or a renowned restaurant - for everything that depends on two wheels -
      ‘OnWheelz Bikes Hai Na’! </p>

    <p class="mb-5"> We also host a frequent travel series called Wander ONN where we take you on an epic bike
      journey at
      amazingly affordable prices. Check our Facebook page for upcoming getaways and more!</p>
  </div>
  <div class="container text-center mt-5">
    <h2 class="display-5 mb-4">Our mission is to make your spontaneous trips easy and affordable</h2>
    <p class="mb-5">We want you to ditch the tour guides and unkept promises to travel whenever you feel like you
      need a break. At ONN Bikes, you will rediscover the joy of travelling as we bring you the best handpicked
      and carefully curated tours, activities and attractions in and around your city. We give you the freedom to
      be spontaneous, because the best holidays are!</p>
  </div>
</section>

<hr>
<!-- customer review -->
<section class="client_section layout_padding mt-5 mb-5 p-2 pb-4">
  <div class="container ">
    <div class="heading_container text-center">
      <h2 class="display-3 mb-4" style="text-decoration:underline;">
        What Says Customers
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              It has been an awesome experience for me when I got to roam places like Dipor Bil, Kamakhya Temple,
              Umanadna temple and many more places on my way to Dispur. Before I started the journey I wasn't sure I
              would get chance to visit and these all beautiful places....yeah they truly are..... Coz i wasn't
              acquainted there and I wasn't having the confidence to even think of visiting these many places. It was so
              affordable and friendly that no one can even imagine unless gives a shot to RenTrip. Once again I
              recommend to all my dear bike lovers to go for RenTrip. </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/review/review1.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Berlin
              </h5>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              We had booked two bikes (Pulsar 180 & 150) for my ASSAM and MEGHALAYA trip from Rentrip Guwahati. The
              bikes were very well maintained and perfectly clean when they handed the key. So no trouble with the bike
              at any place ..Which made the whole trip tension free. Even the bike renting was so easy within 30 min all
              formalities were over All the staffs of Rentrip were very cooperative. I'd be happy to rent from them
              again & I would recommend anybody who wants to feel the roads of ASSAM and MEGHALAYA by self-driving go
              for Rentrip.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/review/review2.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Tokyo
              </h5>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Road trips would not have been exciting if there were no Rentrip bike rental company. One of the leading
              motorbike rental service providers in India. You can rent bikes for road trips from anywhere.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/review/review3.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Denver
              </h5>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              The bike was in excellent condition and the service provided by the owner is awesome.one of the cheapest
              and yet best services fir bike rentals that u found in siliguri after spending days finding other sources.
              Hats off to the owner.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/review/review5.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Anna Crowe
              </h5>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              I had great experience this was my second time booking... And had took the vehicle for a week. I had a
              peaceful journey.
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/review/review4.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Jone Mark
              </h5>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<hr id="services">

<!-- our services  -->

<section class="services mb-5">
  <div class="container justify-content-center align-items-center text-center mb-5">
    <h2 class="display-3 mb-4 mt-5" style="text-decoration: underline;">Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/bikea1.png" class="card-img-top" alt="Service 1">
          <div class="card-body">
            <h5 class="card-title">Bike Rentals:</h5>
            <p class="card-text">Choose from our diverse fleet of bikes, including mountain bikes, road
              bikes, hybrid bikes, electric bikes, and more. Our bikes are regularly maintained and
              come in various sizes to ensure a comfortable fit.

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/gtours.png" class="card-img-top p-3" alt="Service 2">
          <div class="card-body">
            <h5 class="card-title">Guided Tours:
            </h5>
            <p class="card-text">Explore the local area with our knowledgeable guides who will take you on
              thrilling bike tours. Whether you prefer a leisurely city tour or an
              adventurous off-road trail, we have tours suitable for all skill levels.

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/secure.png" class="card-img-top p-5" alt="Service 3">
          <div class="card-body">
            <h5 class="card-title">Secure Payment:</h5>
            <p class="card-text">Rest assured with our secure payment options. We prioritize the protection
              of your personal and financial data, ensuring a safe and reliable transaction experience
              when booking our bike rental services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="mb-5" id="blogs">

<!-- blog -->
<section class="blog-page mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mb-4">
        <h2 class="mb-4 text-center display-1" style="text-decoration: underline;">Blog</h2>
        <hr> <hr>
        <div class="card mb-4 mt-5" *ngFor="let post of posts">
          <img [src]="post.image" class="card-img-top" [alt]="post.title">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
          </div>
        </div>
        <a href="/blog" class="btn btn-primary">READ MORE>>></a>
      </div>
    </div>
  </div>
</section>

<hr class="mb-5">

<!-- Contact -->
<section class="contact">
  <div class="container text-center mt-5">
    <h2 class="display-4" style="text-decoration: underline;">Want to join us?</h2>
    <p class="mt-5 mb-4">If you want to grow your business and be a part of our family join now!</p>
    <a href="/joinus" class="btn btn-primary" id="contact">Contact Now</a>
  </div>
</section>