<div class="heroImage bg-dark text-light mb-5">
<div class="container d-flex justify-content-center mt-4 mb-5">
    <div class="card col-md-8 mt-5 mb-5">
        <div class="card-body mb-5">
            <h1 class="text-center display-4">Reset Password</h1>
            <form [formGroup]="resetPassForm" (ngSubmit)="reset()">
                
                <!-- email -->
                <div class="mt-4 mb-5">
                    
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="E.g: xyz@mail.com" formControlName="remail">
                    <div class="alert alert-warning" *ngIf="remail?.errors?.['required'] && remail?.touched">*Email is required
                    </div>
            <div class="alert alert-danger" *ngIf="remail?.errors?.['email']">*Enter an email</div>
        </div> 

        <!-- submit button  -->
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" type="submit" [disabled]="!resetPassForm.valid" >SUBMIT</button>
        </div>
    </form>
</div>
<hr>
<div class="text-center mt-4 mb-5">
    <span>Remember password?</span>
    <a href="#" routerLink="/login" routerLinkActive="active"> login</a>
</div>
</div>
</div>
</div>  