<footer class="bg-dark text-center text-white mt-5">
    <div class="container p-4">
      <!-- Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a><br><br>

        <!-- phone number -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fa fa-phone" aria-hidden="true"> </i>+91 - 9876543210
      </a><br>
       <!-- Google -->
       <a mdbRipple class="btn btn-outline-light btn-floating m-1" role="button"
       ><i class="fa fa-envelope-open-o" aria-hidden="true"></i> OnWheelz@gmail.com
      </a>

      </section>
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <form class="form-white mb-4">
                <input mdbInput type="email" id="form5Example24" class="form-control" />
                <label mdbLabel class="form-label" for="form5Example24">Email address</label>
              </form>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  <hr>
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Join us for an amazing adventure.
        </p>
  </section>
    </div>
  <hr>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">OnWheelz</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
